.class1{
    
background-color: aqua;
}
@media (max-width: 768px) {
  section {
    margin: 10px;
    padding: 15px;
  }
}
.body{
    margin: 0px;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
#navbar{
    color: rgb(243, 240, 238);
    display: flex;
    background-color:#409a9a;
}
 .link-text{
    color: rgb(239, 233, 233);
    /* background-color: aliceblue; */
    display: flex;
    gap: 170px;
    font-size: 30px;
}
.link-text a {
  font-size: 30px;
  color: rgb(255, 254, 254);
  /* background-color: red; */
  text-decoration: none;
}
h1{
    background-color: rgb(84, 85, 85);
    margin: 0px;
    color: rgb(1, 1, 1);
}
.heading{
    font-size: 20px;
}
.footer{
    background-color: black;
    color: white;
    justify-items: center;
    /* margin: 10px; */
    font-size: 20px;
}